* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: rgb(224,144,238);*/
    background: linear-gradient(90deg, rgba(224,144,238,1) 21%, rgba(111,3,129,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display:inline-block;
    position: absolute;
    border: 0;
    padding: 10px 10px;
    height: 2.5rem;
    width: 2.5rem;
    transition: all 1s;
}

input:focus,
input[type]:focus {
    border-color: rgba(238, 130, 238, 0.671);
    box-shadow: 0 1px 1px rgba(238, 130, 238, 0.671) inset, 0 0 8px rgba(238, 130, 238, 0.8);
    outline: 0 none;
}

.search-icon {
    /*height: 2.5rem;*/
    /*width: 2.5rem;*/
    top: 0;

    padding: 10px 10px;
    background-color: #ffff;
    /*border-radius: 50%;*/
    cursor: pointer;
}

.mySearch {
    display: flex;
    padding: 10px 10px;
    width: 15rem;
    /*background-color: #dbdbdb;*/
    position: relative;
    height: 2.5rem;

}

.myIcon {
    background-color: transparent;
    margin-left: -38px;
}